In [6]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB

In [7]:
dados = pd.read_csv('categoricas.csv')

* Ao analisarmos as variáveis desse CSV, percebe-se que a "BUSCA" é uma variável categórica e não apenas um valor binário
* Com a função "get_dummies" , transformamos uma variável categórica em diversas categorias de acordo com a quantidade de dados distintos
    * exemplo = pd.get_dummies(dados)

In [10]:
X_df = dados[['home', 'busca', 'logado']]
Y_df = dados['comprou']

In [11]:
X_df

     home       busca  logado
0       0  algoritmos       1
1       0        java       0
2       1  algoritmos       0
3       1        ruby       1
4       1        ruby       0
..    ...         ...     ...
995     0        ruby       0
996     0        ruby       0
997     0        java       1
998     1  algoritmos       0
999     0        ruby       1

[1000 rows x 3 columns]

In [12]:
x_dummies_df = pd.get_dummies(X_df)
y_dummies_df = (Y_df)

In [13]:
x_dummies_df

     home  logado  busca_algoritmos  busca_java  busca_ruby
0       0       1                 1           0           0
1       0       0                 0           1           0
2       1       0                 1           0           0
3       1       1                 0           0           1
4       1       0                 0           0           1
..    ...     ...               ...         ...         ...
995     0       0                 0           0           1
996     0       0                 0           0           1
997     0       1                 0           1           0
998     1       0                 1           0           0
999     0       1                 0           0           1

[1000 rows x 5 columns]

* Passando DataFrames para Array:

In [14]:
X = x_dummies_df.values
Y = y_dummies_df.values

In [15]:
tamanho_treino = int(0.9 * len(Y))
tamanho_teste = len(Y) - tamanho_treino

In [16]:
treino_dados = X[:tamanho_treino]
treino_marcacoes = Y[:tamanho_treino]
teste_dados = X[-tamanho_teste:]
teste_marcacoes = Y[-tamanho_teste:]

In [20]:
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)
diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d == 0]
total_acertos = len(acertos)
total_elementos = len(teste_dados)
taxa_acerto = 100.0 * (total_acertos / total_elementos)

In [21]:
print(f"Taxa de acerto do algoritmo: {taxa_acerto}")
print(f"total de elementos: {total_elementos}")

Taxa de acerto do algoritmo: 100.0
total de elementos: 100

* Algoritmo "burro" 
    * Algoritmo mais simples possível para classificações
    * Ele considera como resposta para todas as situações o valor no qual mais aparece
    * Por exemplo: se a maioria das marcações foi "comprou", ele marca todos como comprou

In [19]:
acerto_um = sum(Y)
acerto_zero = len(Y) - acerto_um
taxa_acerto_base = 100.0 * max(acerto_um, acerto_zero) / len(Y)
print(f"Taxa de acerto base (algoritmo burro): {taxa_acerto_base}")

Taxa de acerto base (algoritmo burro): 83.2